#home {
  padding-bottom: 0px;
}

#content h2 {
  padding-bottom: 2rem;
  box-shadow: 0px 2px 5px #00000025;
}

#content p {
  text-align: start;
}

#content p {
  color: #000;
  font-size: 1rem;
  font-weight: 500;
}

#content {
  color: #000;
}

.contacts {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 5rem 0rem;
  padding: 1rem 5rem;
  flex-wrap: wrap;
}

.contact {
  min-width: 50%;
}

.contact-r {
  display: flex;
  justify-content: center;
  align-items: end;
  flex-direction: column;
}

@media (max-width: 1260px) {
  #content {
    margin-inline: 20px;
  }
}
