#home {
  padding-bottom: 0px;
}

#content {
  padding: 0px;
}

#content h2 {
  font-weight: 500;
}

/* #content > h2 {
  font-weight: 700;
} */

@media (max-width: 1260px) {
  #content {
    margin-inline: 20px;
  }
}

.projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  align-items: start;
  list-style: none;
  gap: 3rem 1.5rem;
  padding: 0;
}

.project img {
  width: 384px;
  object-fit: contain;
  object-position: center;
}
